.card {
  transition: all 0.35s ease;
}

.large-shadow {
  box-shadow: 0 30px 60px rgba(28, 31, 42, 1);
}

.large-shadow-darker {
  box-shadow: 0 0 90px 8px rgba(19, 21, 28, 1);
}

.card-grid, .edit-section {
  transition: all 0.8s ease;
}

.editing .edit-section {
  transform: translateY(-100%);
}

.main-layout-container.editing .main-layout {
  opacity: 0;
}

.category-section.editing {
  transform: translateY(-100%);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
