@import "tailwindcss";

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Medium.ttf') format('truetype');
  font-weight: 500;
}

:root {
  font-family: Lexend, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --background: #1C1F2A;
  --white: #FFFFFF;
  --thin: #252938;
  --thin-brighter: #343A4F;
  --thin-brighter-brighter: #434B66;
  --thin-brighter-brighter-brighter: #545E7F;
  --text-thin: #646A7A;
  --text-thin-brighter: #7C8293;

  --diamond: #86C8F9;
  --diamond15: #86C8F926;
  --green: #A8D5B2;
  --green15: #A8D5B226;
  --yellow: #F6D860;
  --yellow15: #F6D86026;
  --red: #FB5A5A;
  --red15: #FB5A5A26;
}

body {
  background: var(--background);
  color: var(--white);
  outline: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--thin);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thin-brighter-brighter);
  border-radius: 6px;
  border: 3px solid var(--thin);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--thin-brighter-brighter);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--thin-brighter-brighter) var(--thin);
}
