.card {
  transition: all 0.35s ease;
}

.large-shadow {
  box-shadow: 0 30px 60px rgba(28, 31, 42, 1);
}

.card-grid, .edit-section {
  transition: all 0.8s ease;
}

.editing .card-grid, .editing .edit-section {
  transform: translateY(-100%);
}
