@import "tailwindcss";

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Medium.ttf') format('truetype');
  font-weight: 500;
}

:root {
  font-family: Lexend, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --background: #1C1F2A;
  --white: #FFFFFF;
  --thin: #252938;
  --thin-brighter: #343A4F;
  --thin-brighter-brighter: #434B66;
  --thin-brighter-brighter-brighter: #545E7F;
  --text-thin: #646A7A;
  --text-thin-brighter: #7C8293;
  --green: #B9D6CA;
  --green15: #B9D6CA26;
}

body {
  background: var(--background);
  color: var(--white);
  outline: none;
}
